.action {

  &--145 {
    .action__image {
      background-image: url("../img/actions/action1.png");
    }
  }

  &--146 {
    .action__image {
      background-image: url("../img/actions/action2.png");
    }

    .action__time {
      text-align: left;
      padding-left: 9px;
    }
  }

  &--147 {
    .action__image {
      background-image: url("../img/actions/action3.png");
    }
  }

  &--148 {
    .action__image {
      background-image: url("../img/actions/action4.png");
    }
  }

}